:root {
  --main-bg-color: #ff00bf;
}

body {
  font-family: 'Abril Fatface', sans-serif !important;
}

h1.lia-h1 {
  font-size:5vw !important;
  margin-left:auto !important;
  margin-right:auto !important;
}

.lia-slide__container {
    background-image: url("https://raw.githubusercontent.com/RDM4CAU/Demos/main/00_DINI-nestor-logo.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
}

.lia-slide__container::before {
    content: "TtT V6 · UAG Schulungen/Fortbildungen, AG Forschungsdaten (DINI/nestor) · CC BY 4.0";
    position: absolute;
    bottom: 10px; /* Abstand vom unteren Rand */
    right: 10%;   /* Abstand vom linken Rand */
    font-size: 0.5em; /* Größe des Textes */
    color: rgba(31, 30, 30, 0.7);
    z-index: 0; /* hinter dem Folieninhalt */
    display: flex;
    align-items: center;
    gap: 8px;
}
